## SugarCRM
# Ignore custom .htaccess stuff.
/.htaccess
# Ignore large parts of the annoying cache directory without breaking things.
cache/csv/*
cache/dashlets/*
cache/diagnostic/*
cache/dynamic_fields/*
cache/feeds/*
cache/import/*
cache/include/*
cache/jsLanguage/*
cache/modules/*
cache/pdf/*
cache/smarty/cache/*
cache/smarty/templates_c/*
cache/themes/*
cache/xml/*
# Ignore some files and directories from the custom directory.
custom/history/*
custom/working/*
# Custom configuration should also be ignored.
/config.php
/config_override.php
# The silent upgrade scripts aren't needed.
silentUpgrade*.php
# Logs files can safely be ignored.
*.log
nbproject/*

custom/include/scripts/genericas/.DS_Store

custom/include/scripts/genericas/varios/.DS_Store

custom/include/scripts/sistema/.DS_Store

custom/modules/Accounts/.DS_Store

custom/modules/Accounts/views/.DS_Store

custom/modules/Documents/.DS_Store

custom/modules/Opportunities/.DS_Store

modules/ModuleBuilder/.DS_Store

modules/ModuleBuilder/parsers/.DS_Store

modules/ModuleBuilder/parsers/views/.DS_Store

soap/.DS_Store

upload/*
cache/Relationships/*
